# .dockerignore

# Helpers with docker building faster
.git
.gitignore
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.sql
*.db

stock_returns_with_returns.csv
node_modules
dist
build
.env
*.log
.DS_Store
.venv
venv
.idea
tests
/test-results
*.tgz
*.zip
*.tar.gz
package-lock.json
package.json 
images
