# Environment variables
.env.prod*
.deploy.env
backend/data/kaggle.json
.env
.env.*
!.env.example
!.env.backend.example
!.env.production.example
.env.production

./backend/data/masterfilelist.txt
venv1
./venv1
.pyc
__pycache__
.pytest_cache
./__pycache__
./pytest_cache

node_modules
.venv/
.env.production